
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');


* {
  font-family: 'Parisienne', cursive;
  box-sizing: border-box;
}

.cardHighlight {
  height: 100%;
  margin: 20px 50px 20px 50px;
}

.clinic {
  background-image: url(../images/cover.jpg) ;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  width: 100%;
}

.navbar {
  font-size: 40px;
  background-color: #5f1b87;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  text-shadow: 2px 2px 4px #000000;
}

.shadow {
  text-shadow: 2px 2px 4px #000000;
}

.link {
  float: none;
  position: relative;
  top: 40px;
  left: 35%;
  transform: translate(-50%, -50%);
}

.card-image1 {
  background-image: url(../images/facade.jpg) ;
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
} 

.card-image2 {
  background-image: url(../images/promo.jpg) ;
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
} 

.card-image3 {
  background-image: url(../images/covid.jpg) ;
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
} 

.gradpic {
  background-image: url(../images/grad.jpg);
  height: 40%;
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2em;
  margin-left: 20em;
  margin-top: 100px;
}

.experience {
  font-size: 150%;
}

.margin-grad {
  margin-top: 5px;
}

.inquire {
  margin-top: 450px;
  position: relative;
  top: 50px;
}

.contact {
  background-image: url(../images/contact.jpg);
  height: 600px;
  width: 60%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 400px;
  margin-top: 100px;
}

.card1 {
  background-image: url(../images/prostho1.png) ;
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.card2 {
  background-image: url(../images/prostho2.png) ;
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.card3 {
  background-image: url(../images/prostho3.png) ;
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.card4 {
  background-image: url(../images/cosmetic1.jpg) ;
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.card5 {
  background-image: url(../images/cosmetic2.jpg) ;
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.card6 {
  background-image: url(../images/braces.png) ;
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.footerSection {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #5f1b87 ;
  color: white;
  text-align: center;
  margin-top: 50px;
  text-shadow: 2px 2px 4px #000000;
}

.procedure {
  font-size: 25px;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}